<header id="header" class="header fixed-top d-flex align-items-center">
  <div class="container d-flex align-items-center justify-content-between">
     <a href="http://freeetemplates.com/" class="logo d-flex align-items-center me-auto me-lg-0">
        <h1>Yummy<span>.</span></h1>
     </a>
     <nav id="navbar" class="navbar">
        <ul>
           <li><a href="#hero">Home</a></li>
           <li><a href="#about">About</a></li>
           <li><a href="#menu">Menu</a></li>
           <li><a href="#events">Events</a></li>
           <li><a href="#chefs">Chefs</a></li>
           <li><a href="#gallery">Gallery</a></li>
           
           <li><a href="#contact">Contact</a></li>
        </ul>
     </nav>
     <a class="btn-book-a-table" href="#book-a-table">Book a Table</a> <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i> <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
  </div>
</header>

<main id="main">

 

  
 <app-home></app-home>
<app-about></app-about>
<app-menu></app-menu>
<app-feedback></app-feedback>
<app-events></app-events>
<app-chef></app-chef>
<app-tablebooking></app-tablebooking>
<app-gallery></app-gallery>
<app-contactus></app-contactus>
<app-footer></app-footer>
 
 
 
  
</main>


