<section id="contact" class="contact">
     <div class="container" data-aos="fade-up">
        <div class="section-header">
           <h2>Contact</h2>
           <p>Need Help? <span>Contact Us</span></p>
        </div>
        <div class="mb-3"> <iframe style="border:0; width: 100%; height: 350px;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6846.018756799291!2d75.866336!3d30.914362!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x391a8312b7eb6f0b%3A0xac26b878a1cdcdbc!2sBaba%20Than%20Singh%20Chowk%2C%20Baba%20Than%20Singh%20Chowk%2C%20Opposite%20Kalra%20Hospital%2C%20Fatehganj%2C%20Ludhiana%2C%20Punjab%20141008!5e0!3m2!1sen!2sin!4v1657534979525!5m2!1sen!2sin" frameborder="0" allowfullscreen></iframe></div>
        <div class="row gy-4">
           <div class="col-md-6">
              <div class="info-item d-flex align-items-center">
                 <i class="icon bi bi-map flex-shrink-0"></i>
                 <div>
                    <h3>Our Address</h3>
                    <p>Ludhiana Punjab IND</p>
                 </div>
              </div>
           </div>
           <div class="col-md-6">
              <div class="info-item d-flex align-items-center">
                 <i class="icon bi bi-envelope flex-shrink-0"></i>
                 <div>
                    <h3>Email Us</h3>
                    <p><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="44272b2a3025273004213c25293428216a272b29">[email&#160;protected]</a></p>
                 </div>
              </div>
           </div>
           <div class="col-md-6">
              <div class="info-item d-flex align-items-center">
                 <i class="icon bi bi-telephone flex-shrink-0"></i>
                 <div>
                    <h3>Call Us</h3>
                    <p>+91 **** **** **</p>
                 </div>
              </div>
           </div>
           <div class="col-md-6">
              <div class="info-item d-flex align-items-center">
                 <i class="icon bi bi-share flex-shrink-0"></i>
                 <div>
                    <h3>Opening Hours</h3>
                    <div><strong>Mon-Sat:</strong> 11AM - 23PM; <strong>Sunday:</strong> Closed</div>
                 </div>
              </div>
           </div>
        </div>
        <form action="#" method="post" role="form" class="php-email-form p-3 p-md-4">
           <div class="row">
              <div class="col-xl-6 form-group"> <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required></div>
              <div class="col-xl-6 form-group"> <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required></div>
           </div>
           <div class="form-group"> <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required></div>
           <div class="form-group"><textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea></div>
           <div class="my-3">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">Your message has been sent. Thank you!</div>
           </div>
           <div class="text-center"><button type="submit">Send Message</button></div>
        </form>
     </div>
  </section>
